polkit.addRule(function(action, subject) {
  if action.id == "org.libvirt.unix.manage" {
    if subject.isInGroup("libvirt") {
      return polkit.Result.YES;
    }
  }
});
