[Desktop Entry]
Name=Dolphin
Exec=dolphin %u
Icon=org.kde.dolphin
Type=Application
X-DocPath=dolphin/index.html
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager
MimeType=inode/directory;
InitialPreference=10
Keywords=files;file management;file browsing;samba;network shares;Explorer;Finder;
X-DBUS-ServiceName=org.kde.dolphin
X-KDE-Shortcuts=Meta+E
StartupWMClass=dolphin

Actions=work;private;


[Desktop Action work]
Name=Work
Name[de]=Arbeit
Icon=tools-symbolic
Exec=mv $HOME/.config/session/dolphin_dolphin_dolphin.work $HOME/.config/session/dolphin_dolphin_dolphin ; dolphin && mv $HOME/.config/session/dolphin_dolphin_dolphin $HOME/.config/session/dolphin_dolphin_dolphin.work

[Desktop Action private]
Name=Private
Name[de]=Privat
Icon=user-home-symbolic
Exec=mv $HOME/.config/session/dolphin_dolphin_dolphin.private $HOME/.config/session/dolphin_dolphin_dolphin ; dolphin && mv $HOME/.config/session/dolphin_dolphin_dolphin $HOME/.config/session/dolphin_dolphin_dolphin.private
